.loves {
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,.6), rgba(0,0,0,0)), url(/dark-texture.png);
  border-top: solid 1px #000;
  -webkit-box-shadow: 1px 2px 2px #fff;
  border-bottom: solid 1px #000;
  padding: .5em 0;
}
.loves .loved:first-child {
  text-transform: inherit;
  margin: inherit;
}
.loved .heart {
  color: #fc2c5f;
}
.loves .loved {
  color: hsl(325, 0%, 87%);
  border-right: rgba(255,255,255,.3) solid 1px;
  box-shadow: 1px 0px 1px #000;
  font-size: 2em;
  line-height: 1.25em;
  padding: .3em 1.9%;
  font-family: "futura-pt";
  text-align: left;
  text-transform: lowercase;
  height: 2.5em;
  margin: 0;
  text-shadow: 1px 1px 1px #000;
}

.bio {
  color: hsl(325, 0%, 25%);
  background-image: url(/clean_textile.png);
  padding-top: .5em;
}
.bio>.bio-main {
  padding-bottom: 5em;
}
.bio-meta {
  padding-top: 3em;
  margin: 0 auto;
  list-style-position: outside;
  width: 50%;
  text-align: left;
}
.bio-meta .bio-detail:before {
  content: '\2767';
  margin-right: 10px;
  font-size: 1em;
}
.bio-meta .bio-detail {
  font-family: "ff-tisa-web-pro";
  font-size: 2em;
  margin: 10px 0;
  line-height: 1.2em;
}
.bio .title {
  color: hsl(325, 0%, 55%);
  font-family: "ff-tisa-web-pro";
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: right;
}
.title>em {
  font-style: italic;
}
.bio .bio-intro {
  padding-top: 6em;
}
.bio .bio-name {
  font-size: 5em;
  line-height: 1em;
  font-family: "ff-meta-web-pro";
  text-align: right;
}
.bio .joe {
  background-image: url(/avatar-colbow-long.png);
  background-repeat: no-repeat;
  background-size: 300px 396px;
  width: 300px;
  height: 396px;
}
@media screen and (max-width: 480px) {
  .bio .joe {
    background-image: url(/avatar-colbow.png);
    background-size: 300 300;
    width: 300;
    height: 300;
  }
}


.philosophy {
  background-image: url(/dark_Tire.png);
  color: hsl(325, 0%, 87%);
  text-align: left;
  padding: 3em 0;
}
.philosophy p {
  text-shadow: 2px 2px hsl(325, 0%, 26%);
  font-weight: 600;
  font-family: 'futura-pt';
  text-transform: uppercase;
}
.projects {
  margin-bottom: 2.1875em;
}
.projects .philosophy-detail p {
  font-size: 8.9375em;
  line-height: .9em;
}
@media screen and (max-width: 480px) {
  .projects .philosophy-detail p {
    font-size: 3.8em;
  }
}

.projects .conclusion p {
  font-size: 7.158em;
  line-height: .8em;
}
@media screen and (max-width: 480px) {
  .projects .conclusion p {
    font-size: 3.03em;
  }
}


.requirements {
  margin-bottom: 4.375em;
}
.requirements .philosophy-detail p {
  font-size: 5.6em;
  line-height: 1.2em;
}
@media screen and (max-width: 480px) {
  .requirements .philosophy-detail p {
    font-size: 2.35em;
  }
}
.requirements .conclusion p {
  font-size: 6.535em;
  line-height: .7em;
}
@media screen and (max-width: 480px) {
  .requirements .word-block {
    font-size: .6em;
    line-height: 1em;
  }
  .requirements .conclusion p {
    font-size: 2.65em;
  }
}

.word-block {
  font-family: "futura-pt-condensed";
  text-shadow: 1px 1px hsl(325, 0%, 26%);
  color: hsl(326, 0%, 69%);
  font-weight: 400;
  display: inline-block;
  font-size: .5em;
  line-height: .7em;
  white-space: normal;
  text-transform: lowercase;
}
@media screen and (max-width: 480px) {
  .word-block {
    font-size: .6em;
  }
}


.products p {
  font-size: 6.625em;
  color: hsl(325, 0%, 59%);
  line-height: 1em;
}
@media screen and (max-width: 480px) {
  .products p {
    font-size: 2.825em;
  }
}
.products .first-line {
  letter-spacing: .15em;
}
.products .second-line {
  letter-spacing: .02em;
}
.products .third-line {
  letter-spacing: .16em;
}
.products .last-line {
  letter-spacing: .1em;
}
.products strong {
  color: #fff;
}

